@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-left {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 70%);
}

.clip-right {
  clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0 100%);
}


/* ["FEFDFE","F7ABEB","210D42","000000","E6E6E5"]);  */


/* globals.css or styles.css */


::-webkit-scrollbar{
  display: none;
}